nav {
    /* background-color: #0779E4; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
}

.nav-items{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.hero{
    background-image: url(../images/asset\ 2.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-content{
    width: 80%;
    margin: auto;

}